	<h2>Credit Shares</h2>
	<form action="">
		##<div>outputResult: $!outputResult</div>
        ##<div>message: $message</div>
		<div><b>Title:&nbsp&nbsp</b>  $!title</div>
		<div><b>Citation Count:&nbsp&nbsp</b>    $!citationCount</div>
		<div><b>Author Count:&nbsp&nbsp</b>    $!authorCount</div>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Year</th>
				#foreach($!name in $!nameList)
				<th>$!name</th>
				#end
			</tr>
			#foreach($!share in $!shareList)
			<tr>
				#foreach($!item in $!share)
				<td>$!item</td>
				#end
			</tr>
			#end
		</table>
</form>

<input id="dataList" type="hidden" value="$!dataList" />
<input id="nameJSList" type="hidden" value="$!nameJSList"/>
<div id="canvas" class="float-left">
</div>
<script type="text/javascript">
function dataConvert(dataArray,id,nameCount){
    var newDataArray = new Array(dataArray.length);
    if(nameCount<id) {
    	return newDataArray;
    }
    for(var i=0; i< dataArray.length;i++){
    	newDataArray[i] =new Array(2);
    	newDataArray[i][0] =dataArray[i][0];
    	newDataArray[i][1] =dataArray[i][id];
    }
return newDataArray;
};
function authorName(nameList,id){
	if(nameList.length>=id){
		return nameList[id-1].name;
	}else{
		return '';
	}
}
</script>
<script type="text/javascript">
  function drawCanvas(dataArray, canvasId,canvasTitle){
  	var chart = new AChart({
          theme : AChart.Theme.Smooth2,
          id : canvasId,
          width : 800,
          height : 500,
          plotCfg : {
            margin : [50,50,80] //画板的边距
          },
	xTickCounts : [2,dataArray.length],
		  xAxis:{
		  		title: {
                    text: 'Year'
				}
		  },
		   yAxis: {        //y轴添加title
                title: {
                    text: canvasTitle
				},
				ticks : [0,0.2,0.4, 0.6 ,0.8, 1.0]
		 },
          seriesOptions : {
              lineCfg : {
                markers : {
                  marker : {
                    'stroke-width' : 0.5,
                    'fill-opacity' : .5
                  },
                  actived : {
                      radius : 8	,
                      stroke: '#fff'
                  },
pointInterval:5
                }
              }
          },
          tooltip : {
            shared : true, //是否多个数据序列共同显示信息
            crosshairs : true //是否出现基准线
            /**/
          },
          series: [{   
                  name: authorName(nameList,1) ,                                                                  
                  data: dataConvert(dataArray ,1,nameList.length)
             	 }		,
				  {   
                  name: authorName(nameList,2) ,                                                                  
                  data: dataConvert(dataArray ,2,nameList.length)
             	 }		,
				 {   
                  name: authorName(nameList,3) ,                                                                  
                  data: dataConvert(dataArray ,3,nameList.length)
             	 }		,
				 {   
                  name: authorName(nameList,4) ,                                                                  
                  data: dataConvert(dataArray ,4,nameList.length)
             	 }		,
				 {   
                  name: authorName(nameList,5) ,                                                                  
                  data: dataConvert(dataArray ,5,nameList.length)
             	 }		,
				 {   
                  name: authorName(nameList,6) ,                                                                  
                  data: dataConvert(dataArray ,6,nameList.length)
             	 }		,
				 {   
                  name: authorName(nameList,7) ,                                                                  
                  data: dataConvert(dataArray ,7,nameList.length)
             	 }	,
				 {   
                  name: authorName(nameList,8) ,                                                                  
                  data: dataConvert(dataArray ,8,nameList.length)
             	 }		,
				 {   
                  name: authorName(nameList,9) ,                                                                  
                  data: dataConvert(dataArray ,9,nameList.length)
             	 },
				 {   
                  name: authorName(nameList,10) ,                                                                  
                  data: dataConvert(dataArray ,10,nameList.length)
             	 }
		  
	  ]
        });
 
        chart.render();
  };
  </script>
<script type="text/javascript"> 
  		var dataList=$("#dataList").val();
		var mid =eval(dataList);
		var nameJSList=$("#nameJSList").val();
		var nameList=eval(nameJSList);
		var accDataArray = new Array(mid.length);
		var i =0;
		var nameListLength = nameList.length;
		for(i=0;i<mid.length;i++){
			accDataArray[i] =new Array(nameList.length+1);
			accDataArray[i][0]=parseInt(mid[i][1].a);
			for(var j=1;j<=nameList.length;j++){
				accDataArray[i][j]=mid[i][j+1].a;
			}
		}
		drawCanvas(accDataArray,"canvas","Credit shares",nameList);
</script>
